/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/




body {
    font-size:20px;
    line-height:1.5;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #000000;
   
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Inter", sans-serif;
    line-height: 120%;
    columns: #000000;
   
 
}
